challenge-4/flows.json
[{"id":"b39bb41d.eb5d28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"24b35794.7d1248","type":"inject","z":"b39bb41d.eb5d28","name":"start","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":430,"y":240,"wires":[["213769c8.4aa7b6"]]},{"id":"213769c8.4aa7b6","type":"file in","z":"b39bb41d.eb5d28","name":"","filename":"/data/traffic.csv","format":"lines","chunk":false,"sendError":false,"encoding":"utf8","x":680,"y":240,"wires":[["3d9bbed4.7861ca"]]},{"id":"3d9bbed4.7861ca","type":"function","z":"b39bb41d.eb5d28","name":"parse file","func":"let r = /^([^\\ ]+)\\ +([^\\ ]+)\\ +([^\\ ]+)\\ +([^\\ ]+)\\ +([^\\ ]+)\\ +([^\\ ]+)\\ +([^\\ ]+)\\ +(.+)$/;\n\nlet result = r.exec(msg.payload);\n\nif(result === null) return;\n\nmsg.payload = {\n    seq: result[1],\n    src: result[2],\n    src_port: result[3],\n    dst: result[4],\n    st_port: result[5],\n    protocol: result[6],\n    length: result[7],\n    content: result[8]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":240,"wires":[["453995e7.8e6734"]],"icon":"font-awesome/fa-percent"},{"id":"453995e7.8e6734","type":"filter","z":"b39bb41d.eb5d28","name":"filter MQTT","property":"payload.protocol","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"eq","v":"MQTT","vt":"str","output":1}],"checkall":"true","outputs":1,"x":450,"y":360,"wires":[["93af1f4f.530fc8"]]},{"id":"93af1f4f.530fc8","type":"filter","z":"b39bb41d.eb5d28","name":"filter publish","property":"payload.content","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"cont","v":"Publish Message","vt":"str","output":1}],"checkall":"true","outputs":1,"x":690,"y":360,"wires":[["dd76f5f4.56229"]]},{"id":"dd76f5f4.56229","type":"function","z":"b39bb41d.eb5d28","name":"parse content","func":"r_topics = /Publish Message (?:\\(id=\\d+\\) )?\\[([\\w\\d\\/]+)\\]/g\nr_pay = / ((?:[a-z0-9]+,)*[a-z0-9]+)$/\n\nmsg.payload.topics = [];\n\nwhile(null !== (z = r_topics.exec(msg.payload.content))) {\n   msg.payload.topics.push(z[1]);\n}\n\nf = r_pay.exec(msg.payload.content);\n\nmsg.payload.messages = f[1].split(\",\");\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":360,"wires":[["9ca2a87e.aa3d2"]]},{"id":"9ca2a87e.aa3d2","type":"function","z":"b39bb41d.eb5d28","name":"make single packages","func":"msg.payload.messages.forEach((e, i) => {\n    node.send({\n        seq: msg.payload.seq,\n        topic: msg.payload.topics[i],\n        payload: e\n    });\n})","outputs":1,"noerr":0,"x":480,"y":480,"wires":[["fc67d75f.1d569"]]},{"id":"3b497088.40114","type":"function","z":"b39bb41d.eb5d28","name":"decode hex to ascii","func":"msg.payload =  Buffer.from(msg.payload, 'hex').toString(\"ascii\");\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":600,"wires":[["ec0353b2.a8256"]]},{"id":"ec0353b2.a8256","type":"json","z":"b39bb41d.eb5d28","name":"decode json payload","property":"payload","action":"obj","pretty":false,"x":720,"y":600,"wires":[["db61760b.df9128"]]},{"id":"107b3478.819364","type":"delay","z":"b39bb41d.eb5d28","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":720,"wires":[["a7c347de.06ffd"]]},{"id":"8d97944f.c9d708","type":"function","z":"b39bb41d.eb5d28","name":"address topic to field","func":"switch(msg.topic) {\n    case \"factory/all_departments/plc\":\n        msg.topic = \"channels/1066445/publish/fields/field1/6AGTH34IYN0BNQ2Z\";\n        break;\n    case \"factory/all_departments/hydraulic_valve\":\n        msg.topic = \"channels/1066445/publish/fields/field2/6AGTH34IYN0BNQ2Z\";\n        break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":480,"wires":[["3b497088.40114"]]},{"id":"fc67d75f.1d569","type":"function","z":"b39bb41d.eb5d28","name":"merge topic","func":"switch(msg.topic) {\n    case\"factory/department1/section1/plc\":\n    case\"factory/department3/section3/plc\":\n        msg.topic = \"factory/all_departments/plc\";\n        break;\n    case\"factory/department1/section1/hydraulic_valve\":\n    case\"factory/department3/section3/hydraulic_valve\":\n        msg.topic = \"factory/all_departments/hydraulic_valve\";\n        break;\n    default:\n        return;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":480,"wires":[["8d97944f.c9d708"]]},{"id":"a7c347de.06ffd","type":"mqtt out","z":"b39bb41d.eb5d28","name":"send to TS","topic":"","qos":"0","retain":"false","broker":"1e641529.fc4113","x":970,"y":720,"wires":[]},{"id":"db61760b.df9128","type":"function","z":"b39bb41d.eb5d28","name":"send only value","func":"msg.payload = msg.payload.value;\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":600,"wires":[["107b3478.819364"]]},{"id":"1e641529.fc4113","type":"mqtt-broker","z":"","name":"thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]